.rutas-container {
  width: 100vw;
  height: calc(100vh - #{$top-bar-height} - #{$nav-height});
  display: flex;
  .rutas-menu {
    width: 350px;
    height: 100%;
    flex-shrink: 0;
  }
  .rutas-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    .rutas-map {
      flex: 1;
    }
    .map-footer {
      width: 100%;
      height: $nav-height;
      background: #e6e6e6;
    }
  }
}