.menu {
  position: absolute;
  width: 20%;
  left: -20%;
  height: calc(100% - 120px);
  background: #162a71;
  display: block;
  overflow: auto;
  padding: 10px 0;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: #001052;
  }
  &.open {
    left: 0;
  }
  .menu-item {
    min-height: 45px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    position: relative;
    .menu-item-icon {
      height: 45px;
      width: 50px;
      background: #001052;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        &.img-active {
          display: none;
        }
      }
    }
    .menu-item-name {
      flex: 1;
      height: 100%;
      span {
        padding: 0 30px;
        display: block;
        line-height: 45px;
        font-weight: bold;
        color: #FFF !important;
      }
      .collapsible {
        margin: 0;
        height: 100%;
        border: 0;
        box-shadow: none;
        .collapsible-header {
          height: 100%;
          background: #182a71;
          box-shadow: none;
          color: #FFF;
          border: 0;
          padding: 0 30px;
          line-height: 45px;
          font-weight: bold;
          i {
            position: absolute;
            right: 0;
            top: 10px;
          }
        }
        .collapsible-body {
          padding: 0;
          background: #2b4091;
          border: 0;
          color: #FFF;
          ul li > a {
            display: block;
            width: 100%;
            line-height: 45px;
            color: #FFF !important;
            padding: 0 30px;
            &:hover {
              background: #182a71;
            }
          }
        }
        .active {
          & + .menu-item-icon {
            background: #FFF;
          }
          .collapsible-header {
            background: #FFF;
            color: #001052;
          }
        }
      }
    }
    &.active, &:hover {
      .collapsible {
        .collapsible-header {
          background: #FFF;
          color: #001052;
        }
      }
      .menu-item-icon {
        background: #FFF;
        border-radius: 25px 0px 0px 25px;
        img {
          display: none;
          &.img-active {
            display: block;
          }
        }
      }
      .menu-item-name {
        background: #FFF;
        span {
          color: #001052 !important;
        }
      }
    }
  }
  .menu-list {
    position: absolute;
    height: calc(100% - 45px);
    overflow: auto;
    width: 100%;
    top: -15px;
  }
  .menu-footer {
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 0;
    a {
      display: block;
      width: 100%;
      line-height: 45px;
      padding: 0 0 0 95px;
      color: #FFF !important;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: #FFF;
        color: #001052 !important;
        border-radius: 25px 0px 0px 25px;
      }
    }
}
.btn-side-menu {
  display: none;
  background: rgba(0,0,0,.6);
  border: 0;
  padding: 3px 6px;
  border-radius: 18px;
  color: #fafafa;
  position: fixed;
  left: 2%;
  bottom: 2%;
  z-index: 1;
  cursor: pointer;
  &.show {
    display: block;
  }
}
}