@import "./variables.scss";
.select-wrapper {
  width: calc(100% - 20%);
  padding-top: 1px;
  input.select-dropdown {
    color: #2E3A8D;
    border-top: 1px solid #E1E1E1;
    border-bottom: 0;
    font-weight: 100;
    font-size: 1em;
    padding: 0px 0px;
    border-bottom: 0;
    margin: 0;
    margin-top: 5px;
    &:focus {
      border-bottom: 0;
    }
    padding-left: 20%;
  }
  .caret {
    fill: #2E3A8D;
    right: -20%;
  }
  & + label {
    color: $primary;
  }
}

table {
  border-collapse: separate;
  border-spacing: 10px 0px;
  td, th {
    padding: 5px 5px;
    border-radius: 0;
    border-bottom: 1px solid #BBB;
  }
  thead tr th {
    color: #B3B3B3;
    font-family: "axiforma thin";
    font-weight: 400;
  }
  tbody tr td {
    color: #2E3A8D;
    font-weight: 500;
  }
}

.btn-custom {
  margin: 0 5px 20px 5px;
  border: 1px solid $primary;
  box-shadow: 0px 2px 3px #e0e0e0;
  transition: all .25s;
  color: $primary;
  padding: 3px 5px;
  background-color: #FFFFFF;
  &:hover {
    cursor: pointer;
    background-color: $primary;
    border: 1px solid $primary;
    color: #FFF;
    border-radius: 0px 10px;
  }
}

.panel {
  background: rgb(251, 252, 251);
    outline: 1px solid #CCC;
    padding: 20px 10px;
    margin-bottom: 50px;
}