@import "./variables.scss";

.topBar {
  background: $primary;
  height: 30px;
  text-align: right;
  padding-right: 30px;
  &__text{
    color: #FFFFFF;
    line-height: 30px;
    font-weight: 700;
    &--highlight{
      color: #9E9E9E;
      font-weight: 400;
    }
  }
}

.desktop-nav{
  height: 40px;
  display: flex;
  justify-content: space-between;
  .logo-menu {
    left: 0;
    width: 25%;
    text-align: center;
    #logo img {
      top: 2.5px;
      height: 35px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .mobile-menu {
      #menu {
        display: block;
        position: absolute;
        z-index: 1;
        left: 20px;
        margin: 0;
        padding: 0;
        i {
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
  .menu-items {
    padding-right: 25%;
  }
  a {
    font-size: 9px;
    color: #808080 !important;
    line-height: 40px;
    padding: 0 9px;
    font-weight: 700;
    i {
      line-height: 40px;
    }
  }
  li {
    position: relative;
  }
  .alert {
    right: -4%;
    position: absolute;
    top: 12%;
    background: #de442b;
    /* border: 1px solid #FFFFFF; */
    color: #FFF;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    font-size: .75em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parpadeo {
    animation-duration: 0.75s;
    animation-name: parpadeo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.infoBar {
  display: flex;
  height: 50px;
  color: #f3fdff;
  background: #bec8da;
  .infoBar__title {
    background: #8a9dbb;
    text-align: center;
    width: 25%;
    @media (max-width: 992px) {
      width: 100%;
    }
    #tituloVentana {
      margin: 0;
      line-height: 50px;
    }
  }
  .infoBar__degradado {
    @media (max-width: 992px) {
      display: none;
    }
    // background: linear-gradient(to right, #CCC, white);
    width: 75%;
    #infoBar__sucursal {
      margin: 0;
      line-height: 50px;
      padding: 0 30px;
      background: #adbcce;
    }
  }
}

#app {
  // padding-top: 15px;
}

.sidenav {
 background: #EEEEEE;
 .top-menu {
  text-align: right;
  a#back-top-menu {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #EEEEEE;
    color: $primary;
    border-radius: 50%;
    margin-right: 45px;
    font-weight: 600;
    &:hover{
      cursor: pointer;
    }
  }
  span {
    line-height: 2em;
    font-size: 1.5rem;
    margin: 0 20px 0 0;
    color: $primary;
  }
  .title-top-menu {
    color: #666666;
  }
 }

 .body-menu {
  padding: 0em 1em;
  .collapsible-header {
    &.sidebar-menu-lvl-1 {
      color: $primary;
      border-bottom: 1px solid rgba(102, 102, 102, .4) !important;
      &.active {
        background: #EEEEEE;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    &.sidebar-menu-lvl-2 {
      color: #777777;
      padding-left: 2em;
    }
    i {
      margin: 0;
      position: absolute;
      right: 35px;
    }
  }
  .sidebar-menu-lvl-0 {
    text-align: justify;
    border-bottom: 1px solid rgba(102, 102, 102, .4);
    & > a {
      color: $primary;
      padding: 0px 16px;
    }
  }

  ul, .side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    background: #EEEEEE !important;
  }
  .collapsible-body {
    overflow: auto;
  }
  .sidebar-menu-lvl-3 .linkCollapse, .sidebar-menu-lvl-3 {
    text-align: right;
    color: #999999;
  }
 }
}

.menu {
  position: absolute;
  width: 0%;
  height: calc(100% - 120px);
  background: #FEFEFE;
  display: block;
  overflow: auto;
  ul {
    position: relative;
    li.active {
      background: rgb(20,20,20,.1);
      .collapsible-body {
        padding: 0;
      }
    }
  }
  li > a:hover {
    background: rgb(20,20,20,.1);
  }
  .menuEl {
    color: #2E3A8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  li > a {
    color: #2E3A8D !important;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  &.open {
    width: 20%;
  }
  .btn-side-menu {
    display: none;
    background: rgba(0,0,0,.6);
    border: 0;
    padding: 3px 6px;
    border-radius: 18px;
    color: #FAFAFA;
    position: fixed;
    left: 2%;
    bottom: 2%;
    cursor: pointer;
    &.show {
      display: block;
    }
  }
}
.main {
  position: absolute;
  left: 0;
  height: calc(100% - 120px);
  display: block;
  overflow: auto;
}
.bodyReporte {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 120px);
  overflow: auto;
  &.menuReportesOpened {
    left: 20%;
    width: 80%;
  }
}

@keyframes parpadeo {
  to {
    opacity: 0;
  }
}

.text-bold {
  font-weight: 600;
}