@import "./assets/variables.scss";
@import "materialize-css/sass/materialize.scss";
@import "./assets/home.scss";
@import "./assets/customElements.scss";
@import "./assets/helpers.scss";
@import "./assets/aside-menu.scss";

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}